      
        {background:  white}
        BODY  {font-family: "Verdana"; font-size: 9pt; color: 000000}
        TD  {font-family: "Verdana"; font-size: 9pt; color: 000000}
        TR  {font-family: "Verdana"; font-size: 9pt; color: 000000}
        FONT  {font-family: "Verdana"; font-size: 9pt; color: 000000}
        I  {font-family: "Verdana"; font-size: 9pt; color: 000000;font-style: italic}
        BIG  {font-family: "Verdana"; font-size: 13pt; color: 000000;font-weight: bold}
        TH  {font-family: "Verdana"; font-size: 9pt; color: 000000;font-weight: bold}
        A:link {font-family: "Verdana"; font-size: 10pt; color: NAVY;font-weight: bold}
        A:visited {font-family: "Verdana"; font-size: 10pt; color: BLACK;font-weight: bold}
        H1 {font-family: "Arial"; font-size: 30pt; color: navy;}
        STRONG {font-family: "Verdana"; font-size: 9pt; color: 000000;text-decoration: none; margin-left=0}
        H2 {font-family: "Verdana"; font-size: 12pt; color: 000000;text-decoration: none; margin-left=0}
        H3 {font-family: "Verdana"; font-size: 9pt; color: 000000;text-decoration: none; margin-left=0}
        PRE {font-family: "Verdana"; font-size: 9pt; color: 000000}
        P {font-family: "Verdana"; font-size: 9pt; color: 000000}
        BLOCKQUOTE {font-family: "Verdana, Arial, Helvetica"; font-size:9pt; color: 000000}
        .WELCOMETITLE {font-family: "Verdana"; font-size: 9pt; color: white; background: #666666; font-weight: bold}
        .WELCOMETITLE:link {font-family: "Verdana"; font-size: 9pt; color: white; background: #666666; font-weight: bold}
        .WELCOMETITLE:visited {font-family: "Verdana"; font-size: 9pt; color: white; background: #666666; font-weight: bold}
        .TOOLBAR {font-family: "Verdana"; font-size: 9pt; color: 000000;font-weight: normal}
        .TOOLBAR:link {font-family: "Verdana"; font-size: 9pt; color: 000000;font-weight: normal}
        .TOOLBAR:visited {font-family: "Verdana"; font-size: 9pt; color: 000000;font-weight: normal}
        .TITLEBAR {font-family: "Verdana"; font-size: 9pt; color: FFFFFF; background: navy;font-weight: bold}
        .MESSAGE {font-family: "Verdana"; font-size: 8pt; color: 000000;font-weight: normal}
        .MESSAGE:link {font-family: "Verdana"; font-size: 8pt; color: NAVY;font-weight: normal}
        .MESSAGE:visited {font-family: "Verdana"; font-size: 8pt; color: BLACK;font-weight: normal}
        .MESSAGENEW {font-family: "Verdana"; font-size: 8pt; color: 000000;font-weight: bold}
        .MESSAGENEW:link {font-family: "Verdana"; font-size: 8pt; color: NAVY;font-weight: bold}
        .MESSAGENEW:visited {font-family: "Verdana"; font-size: 8pt; color: BLACK;font-weight: bold}

