/*
 * Style sheet for AILab
 */


/*
 *  Main body
 */
body {
    background: white;
    color: black;
    width: 95%;
}
a:link {
    color: blue;
}
a:visited {
    color: maroon;
}
a:active {
    color: orange;
}
a:focus {
    color: orange;
}
a:hover {
    color: red;
}

*.smallfont {
    font-size: 0.8em;
}

span.subtitle {
    font-size: 0.6em;
}
h1 span.subtitle {
    color: green;
    text-shadow: 2px 2px yellow;
}


table.header { 
    table-layout: fixed;
    border-style: solid;
    border-width: 1px 1px 5px 1px;
    border-color: #88cc99;
    border-collapse: collapse;
    color: black;
    background: #ccffdd;
    font-family: Georgia,'Times New Roman',Arial,Helvetica; 
    padding: 0.1in;
}

table.header td { 
    border-style: none;
    border-width: 0px;
    border-color: silver;
    text-align: middle;
    vertical-align: middle;
    padding: 0.02in;
}

table.leftbox { 
    table-layout: fixed;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #009911;
    border-collapse: collapse;
    color: black;
    font-family: Georgia,'Times New Roman',Arial,Helvetica; 
    padding: 0.02in;
}
