<script language="JavaScript">

    /*
    Choose the search engine when the user pulls down a select box
    */
    function chooseEngine( engine ) {
        document.search.srcImg.src='search/images/' + engine + ".gif";
    }

    /*
    Go out and search a search engine.
    */
    function searchEngine( engine ) {
        url = getURL( engine );
        document.location = url + getQueryString();
        return false;
    }

    /*
    Get the current Search engine that the user has picked
    */
    function getCurrentEngine() {
        return document.search.engine[document.search.engine.selectedIndex].value
    }

    /*
    Get the current query string that the user has entered.
    */
    function getQueryString() {
        return escape( document.search.searchText.value );
    }

    function getURL( engine ) {
        
        for ( i = 0; i < searchengines.length; ++i ) {
            
            if ( searchengines[i].name == engine ) {
                return searchengines[i].url;
            }
        }
        
    }
    
    
    /*
    Get the definied search engines
    */
    function getSearchEngines() {
        return searchengines;
    }
    
    /*
    Create a search Engine object
    */
    function SearchEngine( name, title, url ) {
        this.name = name;
        this.title = title;
        this.url = url;
    }
    
    //perform any object instantiations...
    
    
    //populate the search engine hashtable.
    

    /*
    In order to define a search engine here just add it in the source.
    */
    searchengines = new Array(9);
    searchengines[0] = new SearchEngine( "yahoo", "Yahoo", "http://ink.yahoo.com/bin/query?p=" );
    searchengines[1] = new SearchEngine( "google", "Google", "http://www.google.com/search?q=" );
    searchengines[2] = new SearchEngine( "altavista", "Altavista", "http://www.altavista.com/cgi-bin/query?q=" );
    searchengines[3] = new SearchEngine( "dejanews", "Dejanews", "http://www.deja.com/products/search/search.xp?&QRY=" );
    searchengines[4] = new SearchEngine( "excite", "Excite", "http://search.excite.com/search.gw?search=" );
    searchengines[5] = new SearchEngine( "hotbot", "Hotbot", "http://hotbot.lycos.com/?MT=" );
    searchengines[6] = new SearchEngine( "infoseek", "Infoseek", "http://infoseek.go.com/Titles?qt=" );
    searchengines[7] = new SearchEngine( "webcrawler", "Webcrawler", "http://www.webcrawler.com/cgi-bin/WebQuery?searchText=" );
    searchengines[8] = new SearchEngine( "freshmeat", "Freshmeat", "http://freshmeat.net/search/?q=" );


</script>

<center>

<table width="400">

    <form name="search" onsubmit="return searchEngine( getCurrentEngine() );">

    <tr>
        <td  valign="middle" colspan="3" NOWRAP>
            Search the web for:
            <input type="text" value="" name="searchText" size="22">
        </td>
    </tr>

    <tr>
        <td align="left" width="100%">
            <input type="submit" value="Search" name="submit">
        </td>

        <td align="right" valign="middle" nowrap>

            <select name="engine" onChange=" chooseEngine( getCurrentEngine() ); ">

                <script language="JavaScript">
                
                    searchengines = getSearchEngines();

                    for ( i = 0; i < searchengines.length; ++i ) {
                        var option = '<option value=\"' + searchengines[i].name + '\">' + searchengines[i].title + '</option>';
                    
                        document.write( option );
                    }
                
                </script>

            </select>

        </td>

        <td align="right" valign="middle" nowrap>

            <img src="search/images/yahoo.gif" name="srcImg">

        </td>

     </tr>

    <input type="hidden" name="query" value="http://search.yahoo.com/bin/search?p=">

    </form>

</table>

</center>
