#* ------------------------------------------------------------------
#
# Macros that are used for displaying input forms.
#
*# ------------------------------------------------------------------

#macro (text $text)
  <font face="$ui.sansSerifFonts">
    $text
  </font>
#end

#macro (formLabel $label)
  <td bgcolor="$ui.formLabelColor">
    <b>
      <font face="$ui.sansSerifFonts">
        $label
      </font>
    </b>
  </td>
#end

#macro (formTextField $name $value)
  <td bgcolor="$ui.formFieldColor">
    <font face="$ui.sansSerifFonts">
      <input type="text" size="30" name="$name" value="$value">
    </font>
  </td>
#end

#macro (textField $name $value $size)
  <font face="$ui.sansSerifFonts">
    <input type="text" size="30" name="$name" value="$value">
  </font>
#end

#macro (listBox $list)
  <font face="$ui.sansSerifFonts">
    $list
  </font>
#end

#macro (formPasswordCell $label $name $value)
  <td bgcolor="$ui.formLabelColor">
    <b>
      <font face="$ui.sansSerifFonts">
        $label
      </font>
    </b>
  </td>
  <td bgcolor="$ui.formFieldColor">
    <font face="$ui.sansSerifFonts">
      <input type="password" size="30" name="$name" value="$value">
    </font>
  </td>
#end

#macro (formCell $label $name $value)
  #formLabel("$label")
  #formTextField("$name" "$value")
#end

#macro (fileUploadField $name)
  <td bgcolor="$ui.formFieldColor">
    <font face="$ui.sansSerifFonts">
      <input type="file" size="30" name="$name">
    </font>
  </td>
#end

#macro (fileUpload "$label" "$name")
  #formLabel("$label")
  #fileUploadField("$name")
#end

#macro (formCheckBox $label $name $checked)
  <td bgcolor="$ui.formLabelColor">
    <b>
      <font face="$ui.sansSerifFonts">
        $label
      </font>
    </b>
  </td>
  <td bgcolor="$ui.formFieldColor">
    <input type="checkbox" name="$name" #if($checked)checked=1#end/>
  </td>
#end

#macro (formListBox $label $list)
  <td bgcolor="$ui.formLabelColor">
    <b>
      <font face="$ui.sansSerifFonts">
        $label
      </font>
    </b>
  </td>
  <td bgcolor="$ui.formFieldColor">
    $list
  </td>
#end

#* ------------------------------------------------------------------
#
# Macros that are used for displaying information in tables.
#
*# ------------------------------------------------------------------

#macro (headerCell $body)
  <td>
    <b>     
        $body
    </b>
  </td>
#end

#macro (entryCell $body)
  <td>    
      $body &nbsp;    
  </td>
#end
