<div align="left">
<form method="POST" 
      onSubmit="this.action=document.location.url; return true;"
      enctype="application/x-www-form-urlencoded">
<input name="nextscreen" type="hidden" value="Home">
<input name="action" type="hidden" value="JLoginUser">
<table width="100%" border="0" cellspacing="2" cellpadding="1">
<tr>
  <td>Username:</td>
  <td><input size="12" value="" name="username" maxlength="25" type="text"></td>
</tr>
<tr>
  <td>Password:</td>
  <td><input size="12" value="" name="username" maxlength="25" type="text"></td>
</tr>
<tr>
  <td colspan="2" align="center">
    <input name="submit" type="submit" value="Login">
  </td>
</tr>
<tr>
  <td colspan="2" align="center">
    <small><a href="/jetspeed/screen/NewAccount?nextscreen=Home">Create a new account</a></small>
  </td>
</tr>
</table>
</form>
</div>
