<p align="left">
2 default accounts are available in this Jetspeed installation:
</p>
  <blockquote>
    Login: turbine<br>Password: turbine
  </blockquote>
  <blockquote>
    Login: admin<br>Password: jetspeed
  </blockquote>
<p>
Make sure to try them out.
</p>
    
