<form action="$jlink" method="post">
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Description</th>
    <th>Mime Type</th>
    <th>Actions</th>
  </tr>
#foreach ( $entry in $registry )
  <tr>
    <td>$entry.Name</td>
    <td>$!entry.Title</td>
    <td>$!entry.Description</td>
    <td>$entry.MimeType</td>
    <td>&nbsp;</td>
  </tr>
#end
</table>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right" width="50%">
#if ($prev)
      <input type="submit" value="&lt; &lt; Previous">
#end
    </td>
    <td align="left" width="50%">
#if ($prev)
      <input type="submit" value="Next &gt; &gt;">
#end
    </td>
  </tr>
</table>
</form>
