#set ($config = $portlet.PortletConfig)
<form action="$jlink" method="post">
#if ($action)
  <input name="$jlink.ActionKey" type="hidden" value="$action" />
#end
<table width="100%" cellpadding="1" cellspacing="0">
  <tr>
    <td>Select the layout manager for this set: 
        <select name="controller">
#foreach ($controller in $controllers)
          <option #if ($controller.Name == $currentController) SELECTED #end>$controller.Name
#end
        </select>
    </td>
  </tr>
  <tr>
    <td>Select the skin for this set
        <select name="skin">
#foreach ($skin in $skins)
          <option #if ($skin.Name == $currentSkin) SELECTED #end>$skin.Name
#end
        </select>
    </td>
  </tr>
  <tr>
    <td align="right">
      <input type="submit" name="eventSubmit_doUpdate" value="Update" />
    </td>
    <td align="left">
      <input type="submit" name="eventSubmit_doCancel" value="Cancel" />      
    </td>
  </tr>
</table>
</form>
