#if (!$text)
#set ( $text = "HelloWorld" )
#end
<form action="$jlink" method="post">
<font color="$!{skin.Color}">
<h2>$text</h2>
<p>If you want to change this text, please enter it below :
<br /><input name="text" value="$text" size="30" />
<input type="submit" name="eventSubmit_doUpdate" value="Update" />
</p>
</font>
</form>
